/* FRONTEND LESS
*********************************************/

// Bootstrap
@import "bootstrap/bootstrap.less";

// Font Awesome
@import "font-awesome/font-awesome.less";
@fa-font-path: "../templates/frontend/fonts"; // path correction



html {
	overflow-y: scroll; /* scrollbar fix (prevent ugly left pull for lower content sites) */
}

body {
	background-color: #DDDDDD;
	padding-top: 80px;
	padding-bottom: 30px;
}



/* YOUR CSS HERE */



@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1170px) {}



/* bootstrap search form fixes */

#insidebar ul.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

#insidebar .form-control {
	width: 100% !important;
}

.navbar div.search {
	@media (max-width: 767px) {
		padding: 0 0 20px 0;
		width: 100%;
	}
}

#mod-search-searchword {
	@media (min-width: 768px) {
		margin-top: 7px;
	}
}

.form-group {
	@media (min-width: 768px) {
		padding: 5px 0;
	}
}

/*mis estilos*/


#top{
background:url("../img/banner.jpg") bottom center no-repeat;
width:100%;
max-height:auto;
height:600px;
margin-bottom:15px;
position:relative;
display:table;
background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
}

/* NAVIGATION */
.navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.navbar-custom {
	font-family:'sinkin_sans700_bold';
	font-size:12px;
	border-radius:0;
	margin-bottom:0;
	padding:30px 0;
  color:#ffffff;
}

.navbar-custom a {
	color:#ffffff;
}

.navbar-brand {
	padding:0 15px;
}

.navbar-brand img {
	margin-top: -10px;
}
.navbar-custom .navbar-nav > li > a {
  margin: 0 20px 0 20px;
}
.navbar-custom .navbar-nav > li > a:hover {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  color:#00595e;
}

.navbar-custom .navbar-toggle {
	background:#ffffff;
}

.navbar-custom .navbar-toggle .icon-bar {
	background:#1C688A;
}
.top-nav-collapse {
	padding: 20px 0;
	background-color: #1C688A;
}
/*//////////////////////////////////////////////////////////////////////////////*/

/*Slider*/
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url('img/b03.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('img/a03.png') no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }

/*//////////////////////////////////////////////*/

.pre{
  max-width: 800px;
  margin: 0px auto;
  background-color: #222222;
  opacity: 0.5;
  color: #fff;
}
.redes{
  margin:8px;
}
.espacio {
  display:block;
  position:relative;
  max-width: 600px;
  height:300px;
  margin: 100px 0px 100px auto;
  background-color: #fff;
  opacity: 0.5;
}
.yo{
  background-color: #84A35B;
}
.yop{
  background-color: #91A4A4;
}
li{
  display: inline-block;
}
.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.item:hover {
  cursor: pointer;
  position: relative;
  -webkit-animation-name: rubberBand;
 animation-name: rubberBand;
}

@-webkit-keyframes shake {
 from, to {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

 10%, 30%, 50%, 70%, 90% {
   -webkit-transform: translate3d(-10px, 0, 0);
   transform: translate3d(-10px, 0, 0);
 }

 20%, 40%, 60%, 80% {
   -webkit-transform: translate3d(10px, 0, 0);
   transform: translate3d(10px, 0, 0);
 }
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
